
@{
    ViewBag.Title = "ValidLogin";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Welcome to the AOne Fashion Boutique</h3>


            <a href="@Url.Action("ViewCustomerRecord","Customer")">View Customer</a><br />
            <a href="@Url.Action("ViewEmployeeRecord","Employee")">View Employee</a><br />
            <a href="@Url.Action("ViewPaymentRecord","Salary")"> View Payment Details</a><br />
            <a href="@Url.Action("ViewQueryRecord","Home")">View Queries</a><br />

            <a href="@Url.Action("Index","Home")">Logout</a>


            
        </div>

    </div>

</div>

